.container{
    margin-bottom: 100px;
}
.bg-color{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-btn{
    color: white;
    background-image: linear-gradient(to bottom, #FF589B 0% ,#FF136F 100%);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat-1,.cat-2,.cat-3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat-1{
    background-image: linear-gradient(to right, #FF9C35 0%, #FFD019 100%);
}
.cat-2{
    background-image: linear-gradient(to right, #FF589B 0% ,#FF136F 100%);
}
.cat-3{
    background-image: linear-gradient(to right, #4289FF 0%, #0747F8 100%);
}

.categories img{
    width: 100px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}

#subscribe{
    height: 300px;
}